@model Sistema_Facturacion.Models.ViewModel.Cliente.CClienteViewModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Consulta de Clientes";
}


<style>

    .ui-widget-header {
        background-color: white;
    }
</style>


<h2 class="text-center header">Consulta de Clientes</h2>



<table class="table table-striped nowrap table-responsive" id="tablaClientes" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => new Sistema_Facturacion.Models.Clientes().Nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => new Sistema_Facturacion.Models.Clientes().Apellidos)
            </th>

            <th>
                @Html.DisplayNameFor(model => new Sistema_Facturacion.Models.Clientes().Cedula)
            </th>

            <th>
                @Html.DisplayNameFor(model => new Sistema_Facturacion.Models.Clientes().Direccion)
            </th>

            <th>
                @Html.DisplayNameFor(model => new Sistema_Facturacion.Models.Clientes().Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Sistema_Facturacion.Models.Clientes().Celular)
            </th>
            <th>
                Accion
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.clienteList)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Celular)
                </td>
                <td>
                    <a href="@Url.Action("Editar","Clientes",new { IdCliente = item.IdCliente})"><i class="bi bi-pencil btnVerde"></i>  </a> &nbsp;

                    <a href="#" data-target="#ModalEliminar" data-toggle="modal" onclick="EliminarCliente(@item.IdCliente)"><i class="bi bi-trash3 btnRojo"></i></a>
                </td>
            </tr>
        }
    </tbody>

</table>



<!--Modal-->

<div class="modal fade  text-center" id="ModalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                @*<h2 class="modal-title" id="exampleModalLabel"><strong style="color:white">Eliminar Usuario</strong></h2>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>


            </div>
            <div class="modal-body">
                <h5 class="text-danger">Seguro que desea borrar el Cliente?</h5>
                <input id="IdCliente" hidden />
            </div>
            <form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" id="eliminarBtn" class="btn btn-secondary">Si</button>
                    @*<a id="eliminarBtn" class="btn btn-primary">Si</a>*@
                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.jqueryui.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.2.4/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.3.0/js/responsive.bootstrap.min.js"></script>


<script type="text/javascript">


    function EliminarCliente(Id) {

        $('#IdCliente').val(Id);
    }

    $("#eliminarBtn").on('click', function () {

        $.ajax({
            url: '/Clientes/Eliminar',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: '{"IdCliente":' + $('#IdCliente').val() + '}',
            success: function (data) {
                if (data) {

                    toastr.success('Elimando con Exito...!');
                }
                else {
                    toastr.error('Error al intentar Eliminar...');
                }

                $('#ModalEliminar').modal('hide');

                window.location.href = '/Clientes/CClientes/';

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {


                toastr.error('Se ha producido el siguient error-> ' + errorThrown);
            }

        })

    })


    $(document).ready(function () {
        $.noConflict();
        $('#tablaClientes').DataTable({
            info: false,
            paging: true,
            responsive: true,
            "bLengthChange": false,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
            },
            "oLanguage": {
                "sEmptyTable": "No hay datos disponibles para mostrar"
            }
        });
    });

</script>